# MongoDB
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_USERNAME=localhost
MONGO_PASSWORD=localhost

# Webpages
PAGE_DEPTH_RANGE=0.14,0.17

# ADS
AD_PROVIDER=monetag
AD_CLICK_PROBABILITY_RANGE=0.32,0.40
AD_KEYWORDS=win,gamble,casino,money,bet,$,cash,virus,hack,stock,forex,crypto
AD_KEYWORDS_SMARTPHONE=
AD_KEYWORDS_CLICK_PROBABILITY_RANGE=0.74,0.87

VIGNETTE_AD_TYPE=0.8
IN_PAGE_AD_TYPE=0.2

# Proxy
SMARTPROXY_HOST=gate.smartproxy.com
SMARTPROXY_PORT=7000

# Proxy
DATAIMPULSE_HOST=gw.dataimpulse.com
DATAIMPULSE_PORT=10000

#Links
PAGE_CONTENT_ELEMENT="#ouuzc"
RELATED_ARTICLES_ELEMENTS=.nav-links
PAGE_CLICKS_MIN=3
PAGE_CLICKS_MAX=5
VIGNETTE_CLOSE_AD_ELEMENTS="//iframe//span[text() = 'Close']"
VIGNETTE_OPEN_AD_ELEMENTS="//iframe//span[count(ancestor::div) = 5]"
IN_PAGE_OPEN_AD_LINK_ELEMENTS='//iframe//div[@style="display: flex !important;"]'
MAXIMUM_NO_OF_ADS=2
PROXY_DOMAIN_WHITELISTS=